nick,xah,active,version,lastHeartbeatIndex,leaseAmount,leaseAmmountRatio,maxInstances,hostReputation
evr-node01,null,null,null,null,null,null,null,null
evr-node02,null,null,null,null,null,null,null,null
evr-node03,null,null,null,null,null,null,null,null
evr-node04,null,null,null,null,null,null,null,null
evr-node05,null,null,null,null,null,null,null,null
evr-node06,null,null,null,null,null,null,null,null
evr-node07,null,null,null,null,null,null,null,null
evr-node08,null,null,null,null,null,null,null,null
evr-node09,null,null,null,null,null,null,null,null